/* ============================================
BASE.CSS — Reset, variables y estilos globales
============================================ */

/* --- Variables CSS (paleta y tipografía) --- */
:root {
    /* Colores principales */
    
    --color-primary-light: #EACBA0;  
    --color-hover:         #D58B33;  
    --color-bg-transparency: rgba(255,255,255,0.85);
    --color-bg-hero: #FBF9F6;
    /* Buscar colores complementarios para las diferentes secciones */

    /* Neutros */
    --color-bg:            #F6F3EF;  /* fondo general cálido y elegante */
    
    /* Texto */
    --color-text:          #1A1A1A;  /* marrón oscuro para texto principal */

    /* Espaciados */
    --space-xs:   0.25rem;
    --space-sm:   0.5rem;
    --space-md:   1rem;
    --space-lg:   2rem;
    --space-xl:   4rem;

    /* Tipografía */
    --font-base:    'Inter', sans-serif;
    --font-heading: 'Playfair Display', serif;
    --link-a-navbar: "Poppins", sans-serif;


    /* Bordes */
    --radius-sm:  4px;
    --radius-md:  8px;
    --radius-lg:  16px;

    /* Sombras */
    --shadow-sm: 0 1px 3px rgba(0,0,0,0.08);
    --shadow-md: 0 4px 12px rgba(0,0,0,0.12);

    /* Tipografía: tamaños */
    --text-xs:   0.75rem;   /* 12px */
    --text-sm:   0.875rem;  /* 14px */
    --text-md:   1rem;      /* 16px */
    --text-lg:   1.25rem;   /* 20px */
    --text-xl:   1.5rem;    /* 24px */
    --text-2xl:  2rem;      /* 32px */
    --text-3xl:  3rem;      /* 48px */

  

    
}

/* --- Reset --- */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


ul {
    list-style: none;
}

ul li a{
    text-decoration: none;
}
